body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  width: 1080px;
  margin: 0 auto;
}

#search {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  border-bottom: 1px black solid;
  margin-left:auto;
  margin-right:auto
}

#search p {
  font-size: 1.2rem;
  padding: 0;
  margin-right: 20px;
  font-weight: bold;
}

#search input {
  padding: 5px;
  width: 300px;
  font-size: 1.2rem;
}

#search button {
  font-weight: bold;
  background: #818194;
  color: white;
  border-radius: 4px;
  margin-left: 10px;
  font-size: 1rem;
  padding: 7px;
}

.table {
    border: solid 1px #DDEEEE;
    border-collapse: separate;
    border-spacing: 0px 0;
    font: normal 13px Arial, sans-serif;
    align: center;
    margin-left:auto;
    margin-right:auto
}
.table thead th {
    background-color: #DDEFEF;
    border: solid 1px #DDEEEE;
    color: #336B6B;
    padding: 20px;
    text-align: center;
    text-shadow: 1px 1px 1px #fff;
    font-size: x-large
}
.table tbody td {
    border: solid 1px #DDEEEE;
    color: #333;
    padding: 30px;
    text-shadow: 1px 1px 1px #fff;
    font-size: large;
    text-align: center;
}
